mysqlclient~= 2.1.1
DateTime~=5.0
uvicorn~=0.18.3
fastapi~=0.89.1
SQLAlchemy~=2.0.5.post1
pydantic~=1.10.4
sqlalchemy_utils~=0.40.0
asyncmy ~= 0.2.7
alembic ~= 1.10.0
beautifulsoup4~=4.11.2
requests~=2.22.0
celery~=5.2.7
eventlet ~= 0.33.1
dill ~= 0.3.6
