{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Home</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Hotair Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600;700;900&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="{% static  '/css/style.css' %}" type="text/css" media="all" />
    <!--//Style-CSS -->

    <link rel="stylesheet" href="{% static  'css/font-awesome.min.css' %}" type="text/css" media="all">

</head>

<body>

    <!-- form section start -->
    <section class="w3l-hotair-form">
        <h1>个人注册</h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="alert-close">
                        <span class="fa fa-close"></span>
                    </div>

                    <div class="content-wthree">
                        <h2>我们已经向你的邮箱账户发送了一个验证码</h2>
                        <p>请填写下面的验证码激活你的账户</p>
                        <form action="#" method="post">
                            {% csrf_token %}
                            <input type="text" class="text" name="email_code" placeholder="请输入邮箱验证码" required="">
                            <button class="btn" type="submit">确定</button>
                        </form>
                        <h2>{{ x }}</h2>
                    </div>
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">

                        </div>
                    </div>
                </div>
            </div>
            <!-- //form -->
        </div>
        <!-- copyright-->
        <!-- //copyright-->
    </section>
    <!-- //form section start -->

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close').on('click', function (c) {
                $('.main-hotair').fadeOut('slow', function (c) {
                    $('.main-hotair').remove();
                });
            });
        });
    </script>

</body>

</html>