{% extends  'index_page/blog_html/index.html' %}
{% load static %}
{% block custom_css %}

    <link href="{% static 'css/blog_in.css' %}" rel="stylesheet"/>
{% endblock custom_css %}
{% block herad %}
    <style></style>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="引导程序">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/blog" class="nav-link px-2 link-secondary"><font
                            style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">主页</font></font></a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control" placeholder="搜索..." aria-label="搜索">
                </form>

                <div class="dropdown text-end">
                    <div style="display:inline-block;"><a href="">{{ request.session.username }}</a></div>
                    <div style="display:inline-block;">
                        <a href="#"
                           class="d-block link-dark text-decoration-none dropdown-toggle"
                           id="dropdownUser1"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                 class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">个人信息</font></font></a></li>
                            <li><a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">设置</font></font></a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/blog/user_loginout"><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">登出</font></font></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock herad %}
{% block title %} <h1>{{ x }}</h1>    {% endblock title %}


{% block start %}
    <div class="container" style="">
        <div class="col-md-12">
                <div class="page-header" style="margin-top: 20px">
                    <h4 style="">{{ x }}
                        <small>{{ y|safe|truncatechars_html:10 }}</small>
                    </h4>
                </div>
                {#                <p>{{ y|safe|truncatechars_html:10 }}</p>#}

                <div class="content"><h4>该篇文章分类</h4></div>
                <div>
                    <button type="button" class="btn btn-info">{{ ART_id }}</button>
                </div>
            </div></div>
    <div class="container" style="">
        <div class="col-md-12" style="">{{ y|safe }}</div>
    </div>

{% endblock start %}

{% block foot %}
    <!-- bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <title>留言板</title>
    <style>

    </style>

    </head>
    <body>

    <section class="content-item" id="comments">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <form method="post">
                        <h3 class="pull-left">欢迎你的新评论</h3>
                        <fieldset>
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                                    {% csrf_token %}
                                    <textarea name="message" class="form-control" id="message"
                                              placeholder="Your message"
                                              required=""></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <button type="submit" class="btn btn-default pull-right" style="background:#eee;">Submit
                        </button>
                    </form>

                    <h3>当前一共有多少个评论</h3>
                    {% for i in z %}
                        <!-- COMMENT 1 - START -->
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">{{ i.user_id }}</h4>
                                <p>{{ i.comment_content }}</p>
                                <ul class="list-unstyled list-inline media-detail pull-left">
                                    <li><i class="fa fa-calendar"></i>{{ i.creat_time }}</li>
                                </ul>
                            </div>
                        </div>
                        <!-- COMMENT 1 - END -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    </body>
    </html>
{% endblock foot %}